@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
//Colors
$navbarColor: #08262e;
$searchBarColor: #203e46;
//Font
$headingFont: "Work Sans", sans-serif;
$profileTextFontLightColor: #08464b;
$lightBlueColor: #41bcc3;
$borderLightColor: #e4e5e9;
$tabUnselectedColor: #6f8c94;
$activeButtonColor: #08464b;
