.home {
  min-height: 92vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.taskbar {
  width: 25%;
}
.workshop {
  width: 50%;
}
.profileHub {
  width: 25%;
}
