@import "../Variables/Variables.scss";

.home {
  min-height: 92vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.taskbar {
  width: 25%;
  padding-left: 20px;
  .userData {
    .solid {
      border: 0;
      border-top: 1px solid #e4e5e9;
      margin: 10px 5%;
    }
    .icons {
      width: 100%;
      display: flex;
      justify-content: center;
      align-self: center;
    }
    a {
      margin: 0 10px;
    }
  }
  .topicList {
    .topics {
      button {
        margin: 0 5px;
        color: $profileTextFontLightColor;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid $profileTextFontLightColor;
        font-family: $headingFont;
      }
    }
  }
  .contactList {
    .contact {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    p {
      margin-left: 10px;
    }
  }
  .additionalList {
    .additionals {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    p {
      margin-left: 10px;
    }
  }
}
.workshop {
  width: 50%;
}
.profileHub {
  width: 25%;
}
